<div class="list__container">
  <ul *ngIf='leagues && leagues.length'>
    <div><strong>{{leagues.length}}</strong> League<span *ngIf="leagues.length > 1">s</span> found</div>
    <li *ngFor='let league of leagues'>
      <a [routerLink]="['/sports/leagues/matchups', league.id]">{{ league.name }} <span class="glyphicon glyphicon-chevron-right"></span></a>
    </li>
  </ul>
  <p *ngIf='leagues && leagues.length == 0'>
      <strong>There were no leagues found for this sport.</strong>
    </p>
</div>
