.content {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #CCC;
}

.content ul li {
  border-top: 1px solid#CCC;
  padding: 20px 0 20px 0;
}

.content ul li a {
  color: #6E6E6E;
}

.content ul {
  list-style-type: none;
  padding: 1.2em;
}
