* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size:16px;
  font-family: Helvetica, sans-serif;
  color:#727272;
}

.content {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #CCC;
}

.content::after {
  content: "";
  display: table;
  clear: both;
}

.list__container > ul div {
  margin-bottom: 4em;
}

.list__container ul li {
  border-top: 1px solid#CCC;
  padding: 20px 0 20px 0;
}

.list__container ul li a {
  color: #6E6E6E;
  padding-right: 60em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-decoration: none;
}

.list__container ul {
  list-style-type: none;
  padding: 1.2em;
}

/* animations */
pa-root div {
    animation-duration: .5s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* bootstrap overrides */
.glyphicon-chevron-right {
  float: right;
  color:#727272;
}

.breadcrumb {
  text-align: center;
}
